.moviecontainer {
  display: flex;
  gap: 20px;
}

.title {
  color: rgb(88, 96, 110);
}

.btn {
  width: 120px;
  height: 40px;
  margin-bottom: 10px;
  background-color: rgb(88, 96, 110);
  border: none;
  border-radius: 3px;
  color: aliceblue;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

.addinfo {
  font-size: 18px;
  list-style: none;
  padding-left: 0px;
}

.infolink {
  color: rgb(88, 96, 110);
}
